<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Tom Friesen", "https://github.com/S-Freezen", class: "text-white" %></small>
  </div>
</footer>
